{% extends 'base.html' %}
{% load static %}

{% block title %}Forms da Categoria{% endblock %}

{% block 'conteudo' %}
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <!-- Card arredondado com a cor secundária do Bootstrap para o formulário -->
            <div style="background-color: #f2f2f2" class="card text-black rounded-lg p-3">
                <h2 class="text-center">Formulário</h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group text-left">
                        <label for="{{ form.nome.id_for_label }}">Nome:</label>
                        {{ form.nome }}
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock 'conteudo' %}
