{% extends 'base.html' %}
{% load static %}

{% block title %}Detalhe da Receita{% endblock %}

{% block 'conteudo' %}
<br>
<br>
<br>
<br>
<br>
<br>

<div class="row justify-content-center">
    <div class="col-md-7">
        <div class="card bg-light">
            <div class="card-body">
                <div class="card mb-3 mx-auto" style="max-width: 900px;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <img class="img-fluid" src="{{ receita.img.url }}" alt="Imagem da Receita" style="width: 100%;">
                            </div>
                            <div class="col-md-12 mt-3">
                                <div class="col-md-12 mt-3">
                                    <h5 class="card-title text-left">Nome</h5>
                                    <p class="card-text text-left">{{ receita.nome }}</p>

                                    <h5 class="card-title text-left">Ingredientes</h5>
                                    <p class="card-text text-left">{{ receita.ingredientes }}</p>

                                    <h5 class="card-title text-left">Modo de preparo</h5>
                                    <p class="card-text text-left">{{ receita.modo_preparo }}</p>

                                    <h5 class="card-title text-left">Data de cadastro</h5>
                                    <p class="card-text text-left">{{ receita.data_cadastro }}</p>

                                    <h5 class="card-title text-left">Categoria</h5>
                                    <p class="card-text text-left">{{ receita.categoria }}</p>

                                    <h5 class="card-title text-left">Criador:</h5>
                                    <p class="card-text text-left">{{ receita.usuario }}</p>
                                </div>

                                <!-- Botões de Editar/Remover -->
                                <div class="container text-right mt-3">
                                    <a class="btn btn-primary mr-2" href="{% url 'receitaeditar' receita.pk %}">Editar</a>
                                    {% if user.is_authenticated %}
                                    <!-- Botão "Remover" que abre o modal de confirmação -->
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmacaoRemocao">Remover</button>
                                    {% endif %}
                                </div>

                                <!-- Comentários -->
                                <div class="container text-left mt-3">
                                    <h2>Comentários:</h2>
                                    <!-- Formulário para Adicionar Comentário -->
                                    <form method="post" action="{% url 'receitadetalheUsuario' pk=receita.pk %}" class="form-inline d-flex justify-content-start mt-3">
                                        {% csrf_token %}
                                        <div class="input-group input-group-sm mb-2" style="width: 98%;">
                                            {{ form_comentario.texto }}
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-sm btn-primary">Comentar</button>
                                            </div>
                                        </div>
                                    </form>

                                    {% for comentario in comentarios %}
                                    <div style="margin-bottom: 15px; overflow: hidden;">
                                        <div style="width: 100%;">
                                            <p><strong>{{ comentario.usuario.username }}</strong> - <span class="text-muted">{{ comentario.data_criacao|timesince }}</span></p>
                                            <p>{{ comentario.texto }}</p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmacaoRemocao" tabindex="-1" role="dialog" aria-labelledby="confirmacaoRemocaoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmacaoRemocaoLabel">Confirmação de Remoção</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Tem certeza de que deseja remover esta receita?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <form method="post" action="{% url 'delete_receita' pk=receita.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Remover</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock 'conteudo' %}