{% extends 'base.html' %}
{% load static %}


{% block title %}Forms{% endblock %}

{% block 'conteudo' %}
<br>
<br>
<br>
<br>
<div class="mt-5">

    <h2>Formulário</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            <label for="exampleInputPassword1">Nome</label>
      
            {{form.nome}}
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Ingredientes:</label>

            {{form.ingredientes}}
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Modo de preparo:</label>
            {{form.modo_preparo}}
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Data do cadastro:</label>

            {{form.data_cadastro}}
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Categoria:</label>

            {{form.categoria}}
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Imagem:</label>

            {{form.img}}
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
      
         <a class='btn btn-secondary' href= "#"> Voltar </a>
    </form>
</div>

{% endblock 'conteudo' %}