{% extends "base.html" %}

{% block title %}Forbidden (403){% endblock %}

{% block 'conteudo' %}
<br>
<br>
<br>

<div class="container mt-5">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="display-4">Forbidden (403)</h1>

      <p class="lead">
        {% if exception %}
          {{ exception }}
        {% else %}
          Você não tem permissão para acessar esta página.
        {% endif %}
      </p>

      <div class="row justify-content-center mt-4">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
          <a class="btn btn-primary btn-block" href="{% url 'home' %}" role="button">
            <i class="fas fa-chevron-left mr-2"></i>Voltar
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock 'conteudo' %}
